{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row experience">
                <div class="col-md-9 tipExp">
                    <div class="row banner margin">
                        <div class="col-md-12">
                            <img src="{{ asset(experience.getThumbWebPath) }}" class="img-responsive">
                        </div>
                    </div>

                    <div class="row headerProduct">
                        <div class="col-md-2 pull-right icons-G">
                            <form action="{{ url("zgh_fe.like.post", {"id": experience.id, "entity_type": experience.getObjectType }) }}" method="post">
                                <button type="submit" class="btn btn-danger likeBtn btn-circle {{ checkLike(app.user, experience) ? "liked" : "" }}">
                                    <span class="glyphicon glyphicon-heart"></span>
                                </button>
                            </form>

                        </div>
                        <h2 class="col-md-4">{{ experience.title }}</h2>
                        <div class="clearfix"></div>
                        <p class="by col-md-12">Category:
                            {% for category in experience.categories %}
                                <span> {{ category.name }}</span>
                            {% endfor %}
                        </p>
                        <span class="col-md-12 date-time">{{ experience.createdAt|date() }}</span>
                        <p class="by col-md-12">By: <span>{{ experience.user.getFullname }}</span></p>

                    </div>
                    <div class="row">
                        <p class="col-md-12">
                            {{ experience.content }}
                        </p>

                    </div>

                    {{ include("@ZghFE/Partial/comments_section.html.twig", { 'entity': experience }) }}

                </div>

            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}