{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block title %}
    {% if is_granted("ROLE_CUSTOMER") %}
        Interests
    {% elseif is_granted("ROLE_VENDOR") %}
        Categories
    {% endif %}
    | Zaghruta
{% endblock title %}
{% block content %}

    <div class="container interest">
        {% block leftContent %}
            <div class="row search-Results">
                <div class="srh-Res-Heading col-md-4 pull-left">
                    {% if is_granted("ROLE_CUSTOMER") %}
                        <h1>Add Your Interests</h1>
                    {% elseif is_granted("ROLE_VENDOR") %}
                        <h1>Add Your Categories</h1>
                    {% endif %}
                </div>

                <!----------------End  srh-Res-Heading -------------->
            </div>
            <div class="row">
                <div class="intro_error">
                    <p style="color: red;">{{ app.session.flashbag.has("error") ? app.session.flashbag.get("error")|first : "" }}</p>
                </div>
            </div>
            <div class="row">
                {{ form_start(form,  {"action": url("zgh_fe.interest.post") }) }}
                    {% if is_granted("ROLE_CUSTOMER") %}
                        {{ form_widget(form.interests, {"attr": {"class": "contentInterests" } }) }}
                    {% elseif is_granted("ROLE_VENDOR") %}
                        {{ form_widget(form.categories, {"attr": {"class": "contentInterests" } }) }}
                    {% endif %}
                    <input class="btn btn-primary btn-wide pull-right" type="submit" value="Save"/>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selecctall').click(function (e) {
                if (e.target.checked) {
                    $(e.target).closest(".mainCategory").find(".checkbox1").each(function () {
                        this.checked = true;
                    });
                } else {
                    $(e.target).closest(".mainCategory").find(".checkbox1").each(function () {
                        this.checked = false;
                    });
                }
            });
        });
    </script>
{% endblock javascripts %}
{% form_theme form with '@ZghFE/Form/checkbox_ul.html.twig' %}