{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block title %}
    {% if is_granted("ROLE_CUSTOMER") %}
        Interests
    {% elseif is_granted("ROLE_VENDOR") %}
        Categories
    {% endif %}
    | Zaghruta
{% endblock title %}
{% block content %}

    <div class="container interest">
        {% block leftContent %}
            <div class="row search-Results">
                <div class="srh-Res-Heading col-md-4 pull-left">
                    {% if is_granted("ROLE_CUSTOMER") %}
                        <h1>Add Your Interests</h1>
                    {% elseif is_granted("ROLE_VENDOR") %}
                        <h1>Add Your Categories</h1>
                    {% endif %}
                </div>

                <!----------------End  srh-Res-Heading -------------->
            </div>
            <div class="row">
                <div class="intro_error">
                    <p style="color: red;">{{ app.session.flashbag.has("error") ? app.session.flashbag.get("error")|first : "" }}</p>
                </div>
            </div>
            <div class="row">
                {{ form_start(form,  {"action": url("zgh_fe.interest.post") }) }}
                    {% if is_granted("ROLE_CUSTOMER") %}
                        {{ form_widget(form.interests, {"attr": {"class": "contentInterests" } }) }}
                    {% elseif is_granted("ROLE_VENDOR") %}
                        {{ form_widget(form.categories, {"attr": {"class": "contentInterests" } }) }}
                    {% endif %}
                    <div class="intro_error">
                        <p style="color: red;"></p>
                    </div>
                    <input class="btn btn-primary btn-wide pull-right save_interests" type="submit" value="Save"/>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selecctall').click(function (e) {
                $(e.target).closest(".mainCategory").find(".checkbox1").each(function () {
                    this.checked = e.target.checked;
                });
            });

            $(".checkbox1").click(function(e) {
                var parentChk = $(e.target).closest(".mainCategory").find(".selecctall");
                var min_checked = null;
                if(e.target.checked) {
                    min_checked = 1;
                } else {
                    min_checked = 0;
                }
                if($(e.target).closest(".mainCategory").find(".checkbox1:checked").length <= min_checked) {
                    parentChk.get(0).checked = e.target.checked;
                }
            });

            $("body").on("click", ".save_interests", function(e) {
                e.preventDefault();
                var btn = $(e.target);
                var form = btn.closest("form");
                if(window.location.href.indexOf("categories") > -1) {
                    var checked = $(":checked").length;
                    if (checked == 0) {
                        var msg  = "You must choose at least one category.";
                        $(".intro_error p").text(msg);
                        btn.siblings(".intro_error").find("p").text(msg);
                    } else {
                        form.submit();
                    }
                } else {
                    form.submit();
                }
            });
        });
    </script>
{% endblock javascripts %}
{% form_theme form with '@ZghFE/Form/checkbox_ul.html.twig' %}