{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row">

                <div class="col-md-12 test">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="2">Notifications<a class="pull-right " href=""> </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for notification in notifications %}
                            {% if notification.content.type == 'notify.like' %}
                                <tr>
                                    <td>{{ notification.content.user }} Liked your <a
                                                href="{{ url("zgh_fe.post.display", {"id": notification.user.id, "post_id": notification.content.post_id }) }}">
                                            post</a></td>
                                    <td><span class="glyphicon glyphicon-thumbs-up pull-right"></span></td>
                                </tr>
                            {% elseif notification.content.type == 'notify.comment' %}
                                <tr>
                                    <td>{{ notification.content.user }} Commented on your <a
                                                href="{{ url("zgh_fe.post.display", {"id": notification.user.id, "post_id": notification.content.post_id }) }}">
                                            post</a></td>
                                    <td><span class="glyphicon glyphicon-comment pull-right"></span></td>
                                </tr>
                            {% elseif notification.content.type == 'notify.follow' %}
                                <tr>
                                    <td>
                                        <a href="{{ url("zgh_fe.user_profile.index", {"id": notification.content.follower_id }) }}"> {{ notification.content.user }} </a>Add
                                        you as a friend
                                    </td>
                                    <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                                </tr>
                            {% elseif notification.content.type == 'notify.follow_request' %}
                                <tr>
                                    <td>
                                        <a href="{{ url("zgh_fe.user_profile.index", {"id": notification.content.follower_id }) }}"> {{ notification.content.user }} </a>
                                        Wants to add you as a friend. <a
                                                href="{{ url("zgh_fe.user.accept_follow", {"id": notification.actionId, "n_id": notification.id }) }}">Yes</a>
                                        <a href="{{ url("zgh_fe.user.deny_follow", {"id": notification.actionId, "n_id": notification.id }) }}">No</a>
                                    </td>
                                    <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                                </tr>
                            {% elseif notification.content.type == 'notify.relationship.request' %}
                                <tr>
                                    <td>
                                        <a href="{{ url("zgh_fe.user_profile.index", {"id": notification.content.requester_id }) }}"> {{ notification.content.user }} </a>
                                        Wants to add you in {{ notification.content.requester_gender == 0 ? "his" : "her" }}
                                        relationship info.
                                        <a href="{{ url("zgh_fe.about.accept_relationship", {"id": notification.actionId, "n_id": notification.id }) }}">Yes</a>
                                        <a href="{{ url("zgh_fe.about.deny_relationship", {"id": notification.actionId, "n_id": notification.id }) }}">No</a>
                                    </td>
                                    <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}