<div class="row">
    <div class="col-md-12 resizePhoto">
        <img src="{{ asset(photo.getWebPath) }}" class="img-responsive" width="720" rel="photo" alt="">
    </div>
</div>
<div class="row photoContent">
    <div class="row PhotoCaption">
        <div class="col-md-12">
            <p>{{ photo.caption }}
            </p>
        </div>
    </div>
    <div class="row  actionPhoto">
        <div class="col-sm-4 col-xs-12 titlealbum">
            <a href=""> <h4>{{ photo.album.name }}</h4></a>

        </div>
        <div class="col-sm-4 col-xs-12 col-md-4 pull-right buttonWrapper">
            <form class="btnForm pull-right" action="{{ url("zgh_fe.like.post", {"id": photo.id, "entity_type": photo.getObjectType }) }}" method="post">
                <button type="submit" data-placement="top" data-toggle="tooltip" title="Like" class="btn tooltip btn-danger likeBtn btn-circle {{ checkLike(app.user, photo) ? "liked" : "" }}">
                    <span class="glyphicon glyphicon-heart"></span>
                    {#<span><span class="likes_count"> {{ photo.likes|length }}people like this  </span> </span>#}
                </button>
            </form>
            {% if photo.user.id == app.user.id %}
                <button data-target="#deletePhoto_{{ photo.id }}" data-toggle="modal" class="btn btnDeleteimg btn-danger  btn-circle pull-right"><span class="glyphicon glyphicon-trash"></span></button>
                <div id="deletePhoto_{{ photo.id }}" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modalHeader">
                                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete Photo</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-wide modalClose btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <form class="btnForm" action="{{ url("zgh_fe.photos.photo.delete", {"id": photo.id}) }}" method="post">
                                    <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            {% endif %}

        </div>
    </div>
    <div class="col-md-12 popupPost ">
        {{ include("@ZghFE/Partial/common/comments_section.html.twig", { 'entity': photo }) }}
    </div>


</div>
