{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row product">

                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="companyData">
                        <img src="{{ asset(product.user.profilePhoto.getThumbWebPath()) }}">

                        <h2 class="text-center">{{ product.user.firstname }}</h2>

                        <p class="text-center">Company<br>
                            {% for interest in product.user.interests %}
                                {{ interest }}<br/>
                            {% endfor %}
                        </p>
                        {{ renderFollow(product.user) }}
                        <div class="groupItem">
                            <a href="#" class="boy"> <span
                                        class="glyphicon glyphicon-user glyphicon-user-boy"></span> {{ product.user.followers|length }}
                            </a>
                            {% if user.id != app.user.id %}
                                <button class="btn btn-primary pull-right btn-sm" type="button">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-9 Product">
                    <div class="row banner margin">
                        <div class="col-md-12">
                            <img class="img-responsive" src="{{ asset(product.getThumbWebPath()) }}">
                        </div>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <div class="col-sm-12 btnTitle  margin">
                            <button class="btn btn-primary btn-wide btn-block" type="button"> Decorama Co</button>
                        </div>
                    </div>
                    <div class="content_wrapper">
                        {% block innerPartial %}
                            <div class="row headerProduct">
                                <div class="col-md-2 pull-right icons-G">
                                    {% if user.id == app.user.id %}
                                    <a href="{{ url("zgh_fe.products.get_edit", {"id": app.user.id, "product_id": product.id}) }}"
                                       class="moveEditProduct">edit</a>
                                    {% endif %}
                                    {% if "ROLE_CUSTOMER" in app.user.roles %}
                                        <button class="btn btn-danger btn-circle" type="button" data-target="#addwishlist"
                                                data-toggle="modal">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <div id="addwishlist" aria-hidden="true" aria-labelledby="myModalLabel"
                                         role="dialog"
                                         tabindex="-1"
                                         class="modal fade in">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header modalHeader">
                                                    <button type="button" class="close modalClose" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Add to Wishlist</h4>
                                                </div>
                                                <div class="form_wrapper">
                                                    {{ include("@ZghFE/Partial/products/wishlist_edit_widget.html.twig", {"form" : addWishlistForm, "post_url": url("zgh_fe.products.add_to_wishlist", {"id": product.user.id, "product_id": product.id }) }) }}
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    {% endif %}

                                    <form class="btnForm pull-right"
                                          action="{{ url("zgh_fe.like.post", {"id": product.id, "entity_type": product.getObjectType }) }}"
                                          method="post">
                                        <button type="submit" data-placement="top" data-toggle="tooltip"
                                                title="{{ checkLike(app.user, product) ? "Unlike" : "Like" }}"
                                                class="btn tooltip btn-danger likeBtn btn-circle {{ checkLike(app.user, product) ? "liked" : "" }}">
                                            <span class="glyphicon glyphicon-heart"></span>
                                        </button>
                                        {#<button type="submit" data-placement="top" data-toggle="tooltip" title="{{ checkLike(app.user, post) ? "Unlike" : "Like" }}" class="btn tooltip btn-liked likeBtn btn-circle {{ checkLike(app.user, post) ? "liked" : "" }}">#}
                                        {#<span class="glyphicon glyphicon-heart"></span>#}
                                        {#</button>#}
                                    </form>

                                </div>
                                <h2 class=col-md-4>{{ product.name }}</h2>

                                <div class="clearfix"></div>
                                <p class="col-md-4">Category:<span>
                                    {% for category in product.categories %}
                                        {{ category.name }} {{ loop.index == loop.length ? "" : "-" }}
                                    {% endfor %}
                            </span></p>

                            </div>
                            <div class="row contentProduct">
                                <p class="col-md-12">
                                    {{ product.description }}
                                </p>
                            </div>
                            <div class="row">
                                <span class="col-md-4 price ">Price:<span> {{ product.price }}$</span></span>
                            </div>
                            {{ include("@ZghFE/Partial/common/comments_section.html.twig", {"entity": product}) }}
                        {% endblock innerPartial %}
                    </div>
                </div>

            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //        $(window).unload(function(e){
        //            alert("unloaded");
        //        })
    </script>
{% endblock javascripts %}
