{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row product">

                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="companyData">
                        <img src="{{ asset(product.user.profilePhoto.getThumbWebPath()) }}">

                        <h2 class="text-center">{{ product.user.firstname }}</h2>

                        <p class="text-center">Company<br>
                            {% for interest in product.user.interests %}
                                {{ interest }}<br/>
                            {% endfor %}
                        </p>
                        {{ renderFollow(product.user) }}
                        <div class="groupItem">
                            <a href="#" class="boy"> <span
                                        class="glyphicon glyphicon-user glyphicon-user-boy"></span> {{ product.user.followers|length }}
                            </a>
                            {% if user.id != app.user.id %}
                                <button class="btn btn-primary pull-right btn-sm" type="button">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-9 Product">
                    <div class="row banner margin">
                        <div class="col-md-12">
                            <img class="img-responsive" src="{{ asset(product.getThumbWebPath()) }}">
                        </div>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <div class="col-sm-12 btnTitle  margin">
                            <button class="btn btn-primary btn-wide btn-block" type="button"> Decorama Co</button>
                        </div>
                    </div>
                    <div class="content_wrapper">
                        {% block innerPartial %}
                            {{ include("@ZghFE/Partial/products/user_profile_product_content_widget.html.twig", {"init": true}) }}
                        {% endblock innerPartial %}
                    </div>
                </div>

            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //        $(window).unload(function(e){
        //            alert("unloaded");
        //        })
    </script>
{% endblock javascripts %}
