{% extends app.user ? "@ZghFE/layout.html.twig" : "@ZghFE/layout_anonymous.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block title %}{{ product.name }} | Zaghruta{% endblock title %}

{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row">

                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="companyData">
                        <a href="{{ url("zgh_fe.user_profile.index", {"id": product.user.id }) }}">
                        <img src="{{ asset(product.user.profilePhoto.getThumbWebPath()) }}">
                        </a>
                        <h2 class="text-center"><a href="{{ url("zgh_fe.user_profile.index", {"id": product.user.id}) }}">{{ product.user.firstname }}</a></h2>

                        {{ renderFollow(product.user,"margin-bottom") }}
                        <div class="groupItem text-center">
                            <a href="#" class="boy"> <span
                                        class="glyphicon glyphicon-user glyphicon-user-boy"></span> {{ product.user.followers|length }}
                            </a>
                            {% if app.user and user.id != app.user.id %}
                                <button class="btn btn-primary pull-right btn-sm" data-toggle="modal"
                                        data-target="#msgModal"  type="button">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                                {{ message_user_popup("msgModal", product.user)|raw }}
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% block parent_inner %}
                {{ include("@ZghFE/Partial/products/product_content_widget.html.twig", {"product": product, "toggles": toggles }) }}
                {% endblock parent_inner %}
            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //        $(window).unload(function(e){
        //            alert("unloaded");
        //        })
    </script>
{% endblock javascripts %}
