{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}

<div class="container">
    {% block leftContent %}
    <div class="row">
        <div class="row search-Results">
            <div class="srh-Res-Heading col-md-4 pull-left">
                <span class="icon-Res icon-Res-Head img-circle"></span>

                <h1>Results for <span>{{ query }}</span></h1>
            </div>
            <!----------------End  srh-Res-Heading -------------->

            {% if catId == 0 %}
                <div class="filtration col-md-8 pull-right margin-sm">
                    <div class="Vendors-filtration filtr pull-left margin-sm" data-id="all">
                        <span class="icon-Res icon-Res-people  img-circle"></span>
                        All
                    </div>

                    <div class="Vendors-filtration filtr  pull-left margin-sm" data-id="#searchPeople">
                        <span class="icon-Res icon-Res-people  img-circle"></span>
                        people
                    </div>

                    <div class="Vendors-filtration filtr  pull-left margin-sm" data-id="#searchVendors">
                        <span class="icon-Res icon-Res-vendors img-circle"></span>
                        Vendors
                    </div>
                    <div class="products-filtration filtr  pull-left margin-sm" data-id="#searchProduct">
                        <span class="icon-Res icon-Res-products img-circle"></span>
                        Products
                    </div>
                    <div class="tips-filtration filtr  pull-left margin-sm" data-id="#searchTips">
                        <span class="icon-Res icon-Res-tips img-circle active-filtration"></span>
                        Tips
                    </div>
                    <div class="experince-filtration filtr  pull-left margin-sm" data-id="#searchExperince">
                        <span class="icon-Res icon-Res-Exp img-circle"></span>
                        Experince
                    </div>


                </div>
            {% elseif catId != -2 %}
                <div class="filtration col-md-8 pull-right margin-sm">
                    <div class="Vendors-filtration filtr pull-left margin-sm" data-id="all">
                        <span class="icon-Res icon-Res-people  img-circle"></span>
                        All
                    </div>

                    <div class="Vendors-filtration filtr  pull-left margin-sm" data-id="#searchVendors">
                        <span class="icon-Res icon-Res-vendors img-circle"></span>
                        Vendors
                    </div>
                    <div class="products-filtration filtr  pull-left margin-sm" data-id="#searchProduct">
                        <span class="icon-Res icon-Res-products img-circle"></span>
                        Products
                    </div>

                    <div class="experince-filtration filtr  pull-left margin-sm" data-id="#searchExperince">
                        <span class="icon-Res icon-Res-Exp img-circle"></span>
                        Experince
                    </div>


                </div>
            {% endif %}

        </div>
        <!----------------End  Search Results -------------->

        {% if catId == 0 %}
            <div id="searchProduct" class="row resultWrapper">
                {{ getProductsSearchResult(query)|raw }}
            </div>
            <!--ENd Search Product-->
            <div id="searchPeople" class="row resultWrapper">
                {{ getPeopleSearchResult(query)|raw }}
            </div>
            <!--ENd Search People-->
            <div id="searchVendors" class="row resultWrapper">
                {{ getVendorSearchResult(query)|raw }}
            </div>
            <!--ENd Search Vendors-->
            <div id="searchTips" class="row resultWrapper">
                {{ getTipsSearchResult(query)|raw }}
            </div>
            <!--ENd Search Product-->
            <div id="searchExperince" class="row resultWrapper">
                {{ getExperiencesSearchResult(query)|raw }}
            </div>
        {% elseif(catId == -2) %}
            <div id="searchPeople" class="row resultWrapper">
                {{ getPeopleSearchResult(query)|raw }}
            </div>
        {% else %}
            <div id="searchVendors" class="row resultWrapper">
                {{ getVendorByCategory(catId, query)|raw }}
            </div>
            <div id="searchProduct" class="row resultWrapper">
                {{ getProductsByCategory(catId, query)|raw }}
            </div>
            <div id="searchExperince" class="row resultWrapper">
                {{ getExperiencesSearchResult(query)|raw }}
            </div>
        {% endif %}
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
    {% endblock content %}

    {% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}