{% extends app.user ? "@ZghFE/layout.html.twig" : "@ZghFE/layout_anonymous.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block meta_tags %}
    <meta property="og:title" content="Zaghruta - {{ user.fullname }} tips - {{ tip.title }}"/>
    <meta property="og:type" content="profile"/>
    <meta property="og:description" content="{{ tip.content }}"/>
    <meta property="og:image"
          content="{{ tip.getWebPath ? tip.getWebPath | imagine_filter("my_photos") : asset("bundles/zghfe/img/exp_tip_wide.jpg") }}"/>
{% endblock meta_tags %}

{% block title %}{{ tip.title }} | Zaghruta{% endblock title %}

{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row tip">
                <div class="col-md-9 tipExp">
                    <div class="row banner margin">
                        <div class="col-md-12 contentImg">
                            <img src="{{ tip.getWebPath ? tip.getWebPath | imagine_filter("my_photos") : asset("bundles/zghfe/img/exp_tip_wide.jpg") }}"
                                 class="img-responsive">
                        </div>
                    </div>
                    <div class="content_wrapper">
                        {% block innerPartial %}
                            <div class="row margin-bottom">
                                {% set tips = user.tips %}
                                {% set next_id = nextId(tips, tip) %}
                                {% set prev_id = prevId(tips, tip) %}

                                {% if prev_id != null %}
                                    <a href="{{ url("zgh_fe.tip.content", {"id": user.id, "tip_id": prev_id }) }}" class="pull-left margin-left exp-Arrow"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
                                {% endif %}
                                {% if next_id != null %}
                                    <a href="{{ url("zgh_fe.tip.content", {"id": user.id, "tip_id": next_id }) }}" class="pull-right margin-right exp-Arrow">Next <span class="glyphicon glyphicon-chevron-right"></span></a>

                                {% endif %}
                            </div>
                        <div class="row headerProduct">
                            {% if app.user %}
                            <div class="col-md-3 pull-right icons-G">
                                <form class="pull-right" action="{{ url("zgh_fe.like.post", {"id": tip.id, "entity_type": tip.getObjectType }) }}" method="post">
                                    <button type="submit" class="btn btn-circle doLike {{ checkLike(app.user, tip) ? "btn-danger" : "likeBtn" }}">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </button>
                                </form>
                                {% if app.user.id == tip.user.id %}
                                <a class="moveEditExpTip btnEditTip pull-right" href="{{ url("zgh_fe.tips.get_edit", {"id": tip.user.id, "tip_id": tip.id}) }}"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                                {% endif %}
                                            {% if app.user and tip.user.id == app.user.id %}
                                <a href="#deleteTip_{{ tip.id }}" data-toggle="modal" class="pull-right movedeleteExp"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                                <div id="deleteTip_{{ tip.id }}" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
                                     tabindex="-1" class="modal fade in">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header modalHeader">
                                                <button type="button" class="close modalClose" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Delete Tip</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-wide modalClose btn-default"
                                                        data-dismiss="modal" aria-hidden="true">Cancel
                                                </button>
                                                <form class="btnForm"
                                                      action="{{ url("zgh_fe.tip.delete", {"id": tip.user.id, "tip_id": tip.id}) }}"
                                                      method="post">
                                                    <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            {% endif %}
                            </div>
                            {% endif %}
                            <h2 class="col-md-9">{{ tip.title|length > 50 ? tip.title|slice(0, 50) ~ "..." : tip.title }}</h2>
                            <div class="clearfix"></div>
                            <p class="by col-md-12">Categories:
                                {% for category in tip.categories %}
                                    <span>{{ category.name }}</span>
                                    {% if loop.index < tip.categories|length %}
                                        <span>-</span>
                                    {% endif %}
                                    <h2 class="col-md-10">{{ tip.title|length > 50 ? tip.title|slice(0, 50) ~ "..." : tip.title }}</h2>

                                    <div class="clearfix"></div>
                                    <p class="by col-md-12">Categories:
                                        {% for category in tip.categories %}
                                            <span>{{ category.name }}</span>
                                            {% if loop.index < tip.categories|length %}
                                                <span>-</span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <span class="col-md-12 date-time">{{ tip.createdAt|date("d M Y - h:i A") }}</span>

                                    <p class="by col-md-12">By: <a
                                                href="{{ url("zgh_fe.user_profile.index", {"id": tip.user.id}) }}"> {{ tip.user.getFullname }}</a>
                                    </p>

                                </div>
                                <div class="row">
                                    <p class="col-md-12">
                                        {{ tip.content|nl2br|converturls }}
                                    </p>

                                </div>


                                {{ include("@ZghFE/Partial/common/comments_section.html.twig", { 'entity': tip }) }}
                            </div>
                        {% endblock innerPartial %}
                    </div>
                </div>

            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}