{% extends "@ZghFE/layout_security.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with ['ThraceFormBundle:Form:fields.html.twig'] %}
{% block content %}
    <div class="mainContent">
        <div>
            <div class="loginBG img-responsive visible-lg"></div>
            <div class="iconGroup img-responsive visible-lg">
                <div style="position: relative">
                    <a href="#" class="sprite-iconPlug"></a>
                    <a href="#" class="sprite-iconChair"></a>
                    <a href="#" class="sprite-iconCalendar"></a>
                    <a href="#" class="sprite-iconHome"></a>
                    <a href="#" class="sprite-iconGirl"></a>
                    <a href="#" class="sprite-iconAccessories"></a>
                    <a href="#" class="sprite-iconFashion"></a>
                    <a href="#" class="sprite-iconPhotographers"></a>
                    <a href="#" class="sprite-iconHotels"></a>
                    <a href="#" class="sprite-iconBouquet"></a>
                    <a href="#" class="sprite-iconCar"></a>
                    <a href="#" class="sprite-iconHoneymoon"></a>
                    <a href="#" class="sprite-iconCakes"></a>
                    <a href="#" class="sprite-iconMusic"></a>
                </div>
            </div>
        </div>
        {% block innerContent %}
            <div class="BGlogin img-responsive visible-lg" style="display: none !important;"></div>
            <section class="container">
                <div class="control-group">&nbsp;</div>
                <div class="row">
                    <div class="signBox  col-md-6">

                        <ul class="nav nav-tabs nav-login" id="loginTabs">
                            <li class="active"><a href="">Second step</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="register_user" class="tab-pane active">
                                {{ form_start(form, {"action": url("zgh_fe.user_profile.user_post_intro_edit", {"id": app.user.id})}) }}
                                <div class="form-group">
                                    {{ form_label(form.company_name) }} <span>(Required)</span>
                                    {{ form_widget(form.company_name, {"attr": {"class": "form-control", "placeholder": "Company name"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.company_name) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.categories) }} <span>(Required)</span>
                                    {{ form_widget(form.categories, {"attr": {"class": "", "placeholder": "Categories"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.categories) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.mobile) }}
                                    {{ form_widget(form.mobile, {"attr": {"class": "form-control", "placeholder": "Mobile"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.mobile) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.website) }}
                                    {{ form_widget(form.website, {"attr": {"class": "form-control", "placeholder": "Website"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.website) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email, {"attr": {"class": "form-control", "placeholder": "Email"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.email) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.facebook) }}
                                    {{ form_widget(form.facebook, {"attr": {"class": "form-control", "placeholder": "Facebook"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.facebook) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.twitter) }}
                                    {{ form_widget(form.twitter, {"attr": {"class": "form-control", "placeholder": "Twitter"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.twitter) }}</div>
                                </div><div class="form-group">
                                    {{ form_label(form.info) }}
                                    {{ form_widget(form.info, {"attr": {"class": "form-control", "placeholder": "Info"} }) }}
                                    <div class="validation" style="">{{ form_errors(form.info) }}</div>
                                </div>
                                <div class="row">
                                    <input type="submit" class="btn btn-danger btn-wide pull-right" value="Submit" />
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
        {% endblock innerContent %}

    </div>

{% endblock content %}
