{% extends "@ZghFE/layout.html.twig" %}
{% block content %}
    <div class="container">

        {% block leftContent %}
            <div id="wall" class="col-md-8 col-sm-7 col-xs-12">
                {{ include("@ZghFE/Partial/common/post_form.html.twig", {"return_url": app.request.getRequestURI() }) }}

                <div class="posts_wrapper">
                    {{ render_esi(controller("ZghFEBundle:Post:getPublicList")) }}
                </div>


            </div>
        {% endblock leftContent %}

        {% block rightContent %}
            <div class="col-md-4 col-sm-5 hidden-xs">

                <div class="followFriend  margin">
                    <h5 class="pull-left">People you may know</h5>
                    <a href="#" class="pull-right">See all</a><br>
                    <hr>
                    <div class="clearfix"></div>
                    {{ getRecommendedPeople(app.user)|raw }}
                </div>
                <div class="followFriend  margin">
                    <h5 class="pull-left">Popular Vendors</h5>
                    <a href="#" class="pull-right">See all</a><br>
                    <hr>
                    <div class="clearfix"></div>
                    {{ getRecommendedVendor(app.user)|raw }}
                </div>

                <div class="followFriend  margin">
                    <h5 class="pull-left">New Vendors</h5>
                    <a href="#" class="pull-right">See all</a><br>
                    <hr>
                    <div class="clearfix"></div>
                    {{ getNewVendors(app.user)|raw }}
                </div>


            </div>
        {% endblock rightContent %}
    </div>
{% endblock content %}

{% block modals %}
    <div id="shareVideo" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
         class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalHeader">
                    <button type="button" class="close modalClose" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Share This Video</h4>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Write Something.." class="form-control"> </textarea>
                    <hr>
                    <div class="col-md-12">
                        <iframe class="margin" width="100%" height="200" src="http://www.youtube.com/embed/2CwXjN4DoWs"
                                frameborder="0" allowfullscreen></iframe>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quinare odio.</p>

                        <p class="by">By: <span>Mohamed Boghdady</span></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-wide btn-default">Cancel</button>
                    <button type="button" class="btn btn-wide btn-primary">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock modals %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}