<!DOCTYPE html>
<html>
<head>
    <title>Zaghruta your weeding planner guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ asset("bundles/zghfe/css/bootstrap.css") }}" rel="stylesheet" media="screen">
    <link href="{{ asset("bundles/zghfe/css/custom.css") }}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset("bundles/zghfe/js/html5shiv.js") }}"></script>
    <script src="{{ asset("bundles/zghfe/js/respond.js") }}"></script>
    <![endif]-->
</head>
<body>

<div id="mainContent404" class="mainContent">
    <section class="container">
        <div class="row">
            <span class="sub">500!</span>
            <h1 class="notFound col-md-12">Oops!</h1>
            <p>Something is broken. Please email us at support@zaghruta.com and let us know what you were doing when this error occurred. We will fix it as soon s possible. Sorry for any inconvenience.</p>

        </div>
        <div class="clearfix"></div>
    </section>

</div>

<!-- JavaScript plugins (requires jQuery) -->
<script src="{{ asset("bundles/zghfe/js/jquery-1.11.0.js") }}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset("bundles/zghfe/js/bootstrap.min.js") }}"></script>

<!-- Optionally enable responsive features in IE8 -->
<script src="{{ asset("bundles/zghfe/js/respond.js") }}"></script>

<script src="{{ asset("bundles/zghfe/js/custom.js") }}"></script>
<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>
</html>