{% set post = data["post"] %}
{% set content_type = data["type"] %}

<div class="content-post postContent">
    <p class="{{ post.content|length > 300 ? "post_content" : "" }}">
        {{ post.content|raw|nl2br|converturls }}
    </p>
    {% if post.content|length > 300 %}
        <br />
        <div class="content_togglers">
            <a href="#" class="post_down">More</a>
            <a href="#" class="post_up">Less</a>
        </div>
    {% endif %}
    {% if content_type == 2 %}
        <a class="fancybox fancyboxArrow" href="#{{ post.id }}"><img alt="" src="{{ post.getWebPath | imagine_filter("my_thumb") }}" class="img-responsive margin-md"></a>

        <div id="{{ post.id }}" style="display: none;">
            <div class="col-md-9 product">
                <div class="row">
                    <div class="col-md-12">
                        <img alt="" src="{{ asset(post.getWebPath) }}" class="img-responsive margin-md">
                    </div>
                </div>
            </div>
        </div>
    {% elseif content_type == 1 %}
        {{ data["video"]|raw }}
    {% endif %}


</div>