{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div id="wrap">
        {{ parent() }}

        {% block content %}
            {% block leftContent %}
            {% endblock leftContent %}

            {% block rightContent %}
            {% endblock rightContent %}
        {% endblock content %}
    </div>

    {% block footer %}
           <footer>
            <div class="container">
                <p class="pull-right"><a href="#">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </a></p>
                    <a  class="pull-right contactUS"  data-toggle="modal" href="#ContactUS">Contact us</a>
                    <a  class="pull-right contactUS" href="{{ url("zgh_fe.user_profile.index", {"id": 1}) }}">About</a>
                <div  id="ContactUS" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                 class="modal fade in modalContactUS">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modalHeader">
                            <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
                        </div>
                        <div class="modal-body">
                         <p class="">For inquiries, contact us at:</p>
                         <a target="_top" class="contactmail" href="mailto:info@zaghruta.com">info@zaghruta.com</a>
                         <p class="margin-top">For support or feedback, contact us at:</p>
                         <a target="_top" class="contactmail" href="mailto:support@zaghruta.com">support@zaghruta.com</a>



                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                </div>
                     <p>Zaghruta &copy; {{ "now"|date("Y") }}</p>
            </div>
        </footer>
    {% endblock footer %}
    {% block modals %}
    {% endblock modals %}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var UrlContainer = {
            loader: "{{ asset("bundles/zghfe/img/page-preloader.GIF") }}"
        };
    </script>
    <script src="{{ asset("bundles/zghfe/plugins/webcomponentsjs/webcomponents.js") }}"></script>
    {% javascripts
    "bundles/zghfe/plugins/dropzone-3.9.0/downloads/dropzone.js"
    "bundles/zghfe/js/uploader_save.js"
    "bundles/zghfe/js/pages_logic/partial/photosRefresher.js"
    "bundles/zghfe/js/pages_logic/partial/postRefresher.js"
    "bundles/zghfe/js/post_actions.js"
    "bundles/zghfe/js/pages_logic/about.js"
    "bundles/zghfe/js/pages_logic/wishlist.js"
    "bundles/zghfe/js/pages_logic/branches.js"
    "bundles/zghfe/js/pages_logic/photos.js"
    "bundles/zghfe/js/custom.js"
    "bundles/zghfe/js/jquery.fancybox.pack.js"
    "bundles/zghfe/js/jquery.fancybox-buttons.js"
    "bundles/zghfe/js/jquery.fancybox-media.js"
    "bundles/zghfe/js/jquery.fancybox-thumbs.js"
    "bundles/zghfe/js/fancyCustom.js"
    "bundles/zghfe/js/ImgCrop.js"
    "bundles/zghfe/js/autosize.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">

        $(document).ready(function () {

            if($("body").find(".post").length == 0)
            {
                $("body").find(".load-more").remove();
            }

            $("body").on("click", ".tab", function(e){
                e.preventDefault();
                if(!$(e.target).is(".activated")){
                    $(".tab").removeClass("active");
                    $(e.target).addClass("active");
                    $(".content_wrapper").html('<img style="margin: auto; display: block;" src="'+UrlContainer.loader+'" />');
                    $(".content_wrapper").load($(e.target).data("target_url"));
                    history.pushState(null, null, $(e.target).data("target_url"));
                }
            });

            setTimeout(function () {
                $(window).on("popstate", function (e) {
                    e.preventDefault();
                    window.location.href = window.location.href;
                });
            }, 500);


        });
    </script>
{% endblock javascripts %}
{% block misc %}{% endblock %}