{% extends "base.html.twig" %}

{% block body %}

    {% block header %}
        <header class="fixed-header indexHeader">

            <div class="container">
                <div class="logo col-md-3 col-sm-4 logoRetina col-md-offset-1"><a  href="{{ url("zgh_fe.wall.index") }}"><img
                                src="{{ asset("bundles/zghfe/img/logo.png") }}"></a></div>
                <div class=" col-md-5 visible-sm logoRetina col-sm-push-4"><a href="#"><img
                                src="{{ asset("bundles/zghfe/img/logo.png") }}"></a></div>
                <div class="divider visible-sm"></div>
                {{ getSearchWidget()|raw }}
                {% if app.user %}
                    <a class="btn btn-primary logout_anon tooltip" href="{{ url("fos_user_security_logout") }}" data-toggle="tooltip" data-placement="bottom" title="Log Out">
                        <span class="glyphicon  glyphicon-log-out"></span>
                    </a>
                {% endif %}
            </div>
            <!-- Header To Xs -->

        </header>
    {% endblock header %}

    <!-- Header -->
    {% block descHeader %}
        {{ include("@ZghFE/Partial/common/categories_descriptions.html.twig") }}
    {% endblock descHeader %}

    {% block content %}
    <div class="mainContent">
        {{ getCategoriesButtons()|raw }}


        {% block inner_content %}
        {% endblock inner_content %}
    </div>
    {% endblock content %}

    {% block modals %}

    {% endblock modals %}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">

    $(document).ready(function () {

        $("body").find('.tooltip').tooltip();

        $("body").on("keyup", ".search_text", function(e){
            e.preventDefault();
            var form = $(e.target).closest("form");
            if(e.which == 13) {
                form.submit();
            }
        });

        $("body").on("click", ".search_submit", function(e){
            e.preventDefault();
            var form = $(e.target).closest("form");
            form.submit();
        });

        $("body").on("click", ".searchOption", function(e){
            e.preventDefault();
            var cat = $(e.target).data("cat");
            $(e.target).closest(".cat_ddl_btn").find("button").text($(e.target).text());
            $(e.target).closest("form").find("input[type='hidden']").val(cat);
        });

    });
    </script>
{% endblock javascripts %}
{% block misc %}<div id="theH" style=""><img src="{{ asset("bundles/zghfe/img/bg.jpg") }}"/></div>{% endblock misc %}
