{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/ajax_layout.html.twig':'@ZghFE/Default/user_index.html.twig' %}

{% block leftContent %}
<div class="row collectionsAlbums">
    <div class="col-xs-12 search-Results pull-left">
        <h2 class="pull-left">{{ wishlist.name }}</h2>
        <div class="album_nav btn-group pull-right">
            <button class="wishlist_back_btn btn btn-primary btn-wide"
                    data-target_url="{{ url("zgh_fe.wishlist_partial_content", {"id": user.id }) }}"><span
                        class="glyphicon  glyphicon-arrow-left"></span> Back
            </button>

            {% if app.user and user.id == app.user.id %}
                <button data-target="#deleteWishlist_{{ wishlist.id }}" data-toggle="modal"
                        class="btnDelete btn btn-primary btn-wide pull-right"><span
                            class="glyphicon  glyphicon-trash"></span> Delete wishlist
                </button>
                <div id="deleteWishlist_{{ wishlist.id }}" aria-hidden="true" aria-labelledby="myModalLabel"
                     role="dialog" tabindex="-1" class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modalHeader">
                                <button type="button" class="close modalClose" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete Wishlist</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-wide modalClose btn-default"
                                        data-dismiss="modal" aria-hidden="true">Cancel
                                </button>
                                <form class="btnForm"
                                      action="{{ url("zgh_fe.wishlist.delete", {"id": user.id, "wishlist_id": wishlist.id}) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            {% endif %}

        </div>
    </div>

</div>
{% for product in wishlist.products %}
    <div class="product-G col-md-3 col-xs-6  col-sm-6">
        <div class="thumbnail clearfix">
            <a rel="Product" data-fancybox-href="{{ url("zgh_fe.products.get_parent_content_widget", {"id": product.user.id, "product_id": product.id}) }}" href="{{ url("zgh_fe.products.content", {"id": product.user.id, "product_id": product.id}) }}" class="textImageContainer fancybox fancybox.ajax wishlist_img">
                <div class="thumbOverlay img-responsive">
                    <div class="thumbOverlay"><span class="glyphicon glyphicon-eye-open"></span></div>
                </div>
                <img class="img-responsive " src="{{ product.getWebPath() ? asset(product.getWebPath()) : asset("bundles/zghfe/img/thumb.jpg") }}">
            </a>
            <div class="productContent">
                <a href="{{ url("zgh_fe.products.content", {"id": product.user.id, "product_id": product.id}) }}"><h4>{{ product.name }}</h4></a>
                <span class="date">{{ product.createdAt|date("d M Y - h:i A") }}</span>
                <span class="price">Price:<span> {{ product.price }}$</span></span>

                <p class="description">
                    {{ product.description }}
                </p>

                <div class="voting">
                    <p>Decorama egypt</p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock leftContent %}