{% if wishlists|length > 0 %}
    {% for wishlist in wishlists %}
        <div class="col-md-3 col-xs-12 wishList col-xxs-12">
            {% if wishlist.user.id == app.user.id %}
                <button data-target="#deleteWishlist_{{ wishlist.id }}" data-toggle="modal" type="submit"
                        class="row   btn delete-post pull-right"><span
                            class="glyphicon glyphicon-remove pull-right"></span></button>
                <div id="deleteWishlist_{{ wishlist.id }}" aria-hidden="true" aria-labelledby="myModalLabel"
                     role="dialog" tabindex="-1" class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modalHeader">
                                <button type="button" class="close modalClose" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete Wishlists</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-wide modalClose btn-default"
                                        data-dismiss="modal" aria-hidden="true">Cancel
                                </button>
                                <form class="btnForm"
                                      action="{{ url("zgh_fe.wishlist.delete", {"id": user.id, "wishlist_id": wishlist.id}) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            {% endif %}
            <div class="thumbnail">
                <a href="{{ url("zgh_fe.wishlist.index", {"id": user.id, "wishlist_id": wishlist.id }) }}"
                   class="moveWishlistIndex"><img
                            src="{{ wishlist.products|length > 0 ? (wishlist.products[0].getWebPath() ? asset(wishlist.products[0].getWebPath()) : asset("bundles/zghfe/img/thumb.jpg")) : asset("bundles/zghfe/img/thumb.jpg") }}"
                            class="" alt="Responsive image"></a>

                <div class="caption">
                    <h5>{{ wishlist.name|length > 21 ? wishlist.name|slice(0, 21) ~ "..." : wishlist.name }}</h5>
                    <span class="badge pull-right">{{ wishlist.products|length }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% if user.id == app.user.id %}
        <p><a href="{{ url("zgh_fe.search.start_search", {"category": "all", "q": ""}) }}#searchVendors">Browse vendors</a> products and add items to your wishlist.</p>
    {% else %}
        <p>{{ user.fullname }} doesn’t have any wishlists.</p>
    {% endif %}
{% endif %}