<div class="albumCont">
    {% if albums|length > 0 %}
        {% for album in albums %}
        <div class="col-md-3  col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{ url("zgh_fe.photos_partial_albums_photos_content", {"id": album.user.id, "album_id": album.id }) }}" data-url="{{ url("zgh_fe.photos_partial_albums_photos_content", {"id": album.user.id, "album_id": album.id }) }}" class="load_images">
                    <img alt="Responsive image" class="img-responsive"
                                  src="{{ album.photos|length > 0 ? asset(album.photos.first.getThumbWebPath) : asset("bundles/zghfe/img/thumb.jpg") }}">
                </a>
                    <div class="caption captionPhotos">
                     <div class="col-md-12 albumName">
                      <div class="row">
                        <h4 class="col-md-10">{{ album.name|length > 21 ? album.name|slice(0, 21) ~ "..." : album.name }}</h4>
                        <span class="badge pull-right">{{ album.photos|length }}</span>
                      </div>
                    </div>

                        <p class="date col-md-12">{{ album.createdAt|date("d M Y - h:i A") }}</p>
                    </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% if app.user and app.user.id == user.id %}
            <p>You haven’t created any albums yet.</p>
        {% else %}
            <p>{{ user.fullname }} doesn’t have any albums.</p>
        {% endif %}
    {% endif %}
</div>
