<div class="row about_wrapper">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2">Categories
                {% if app.user and about.user.id == app.user.id %}
                    <a href="{{ url("zgh_fe.vendor_categories.get") }}" class="pull-right">
                        <span class="glyphicon glyphicon-edit top"></span>
                    </a>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for category in about.categories %}
                        {{ category.name }}
                        {% if loop.index != about.categories|length %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2">About
                {% if app.user and about.user.id == app.user.id %}
                    <a href="{{ url("zgh_fe.about.get_vendor_edit", {"id": about.id }) }}" class="pull-right about_edit">
                        <span class="glyphicon glyphicon-edit top"></span>
                    </a>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="td-left">Company Name</td>
            <td>{{ about.companyName|nl2br|converturls }}</td>
        </tr>

        <tr>
            <td class="td-left">Phone Number</td>
            <td>{{ about.mobile }}</td>
        </tr>

        <tr>
            <td class="td-left">Website</td>
            <td>{{ about.website|converturls }}</td>
        </tr>
        <tr>
            <td class="td-left">Email</td>
            <td>{{ about.email }}</td>
        </tr>
        <tr>
            <td class="td-left">Facebook</td>
            <td>{{ about.facebook|converturls }}</td>
        </tr>
        <tr>
            <td class="td-left">Twitter</td>
            <td class="td-left">{{ about.twitter|converturls }}</td>
        </tr>
        <tr>
            <td class="td-left">Description</td>
            <td>{{ about.info|nl2br|converturls }}</td>
        </tr>
        </tbody>
    </table>

</div>
