{% if experiences is defined %}
    {% if experiences|length > 0 %}
        {% for experience in experiences %}
            <div class="col-md-4 col-xs-6 col-xxs-12 experience">
                <div class="thumbnail">
                    {% if app.user and experience.user.id == app.user.id %}
                        <button data-target="#deleteExperince_{{ experience.id }}" data-toggle="modal"  type="submit" class="row   btn delete-post pull-right"><span class="glyphicon glyphicon-remove pull-right"></span></button>
                        <div id="deleteExperince_{{ experience.id }}" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade in">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header modalHeader">
                                        <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Delete Post</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-wide modalClose btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <form class="btnForm" action="{{ url("zgh_fe.experience.delete", {"id": experience.user.id, "exp_id":experience.id}) }}" method="post">
                                            <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                        </form>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    {% endif %}
                    <a class="openExp imgtipEpx" href="{{ url("zgh_fe.experience.content", {"id": experience.user.id, "exp_id": experience.id }) }}" target="_blank"><img alt="Responsive image" class="img-responsive"
                     src="{{ experience.getThumbWebPath ? experience.getWebPath | imagine_filter("my_list_thumb") : asset("bundles/zghfe/img/avatar_wide.jpg") }}"></a>

                    <div class="caption">
                        <h4>{{ experience.title }}</h4>

                        <p>{{ experience.content|nl2br|converturls }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if app.user and user.id == app.user.id  %}
            <p>Share your experience in your wedding planning and help others to benefit from it.</p>
        {% else %}
            <p>{{ user.fullname }} hasn’t shared any experiences yet.</p>
        {% endif %}
    {% endif %}
{% endif %}