{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/inner_ajax_layout.html.twig':'@ZghFE/Default/experience_content.html.twig' %}

{% block innerPartial %}
<div class="row headerProduct">
    <div class="col-md-2 pull-right icons-G">
        <form class="pull-right" action="{{ url("zgh_fe.like.post", {"id": experience.id, "entity_type": experience.getObjectType }) }}" method="post">
            <button type="submit" class="btn tooltip btn-circle doLike {{ checkLike(app.user, experience) ? "btn-danger" : "likeBtn" }}">
                <span class="glyphicon glyphicon-heart"></span>
            </button>
        </form>
        <a class="pull-right moveEditExpTip "
           href="{{ url("zgh_fe.experiences.get_edit", {"id": experience.user.id, "exp_id": experience.id}) }}"><i class="glyphicon glyphicon-edit"></i> Edit</a>

    </div>
    <h2 class="col-md-4">{{ experience.title }}</h2>
    <div class="clearfix"></div>

    <span class="col-md-12 date-time">{{ experience.createdAt|date() }}</span>
    <p class="by col-md-12">By: <span>{{ experience.user.getFullname }}</span></p>

</div>
<div class="row">
    <p class="col-md-12">
        {{ experience.content }}
    </p>

</div>


{{ include("@ZghFE/Partial/common/comments_section.html.twig", { 'entity': experience }) }}
{% endblock innerPartial %}