{% if experiences is defined and experiences is not empty %}
    {% for experience in experiences %}
        <div class="col-md-4 col-xs-6 experience">
            <div class="thumbnail">
                {{ getTipsSearchResult(app.request.get("q"))|raw }}
                {% if experience.user.id == app.user.id %}
                    <button data-target="#deleteExperince_{{ experience.id }}" data-toggle="modal"  type="submit" class="row   btn delete-post pull-right"><span class="glyphicon glyphicon-remove pull-right"></span></button>
                    <div id="deleteExperince_{{ experience.id }}" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade in">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modalHeader">
                                    <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Delete Post</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-wide modalClose btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    <form class="btnForm" action="{{ url("zgh_fe.post.delete", {"id": experience.id}) }}" method="post">
                                        <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                {% endif %}
                <a class="openExp" href="{{ url("zgh_fe.experience.content", {"id": experience.user.id, "exp_id": experience.id }) }}"><img alt="Responsive image" class="img-responsive"
                 src="{{ experience.getThumbWebPath ? asset(experience.getThumbWebPath) : asset("bundles/zghfe/img/avatar_wide.jpg") }}"></a>

                <div class="caption">
                    <h4>{{ experience.title }}</h4>

                    <p>{{ experience.content }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}