{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/inner_ajax_layout.html.twig':'@ZghFE/Default/experience_content.html.twig' %}

{% block innerPartial %}
    {% form_theme experience_form with ['ThraceFormBundle:Form:fields.html.twig'] %}
    {{ form_start(experience_form, {"action": url("zgh_fe.experiences.get_edit", {"id": app.user.id, "exp_id": experience.id }), "attr" : {"id":"myform", "class": "form-horizontal"} }) }}

    <div class="form-group formGroup">
        {{ form_label(experience_form.title, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
        <div class="col-sm-9">
            {{ form_widget(experience_form.title, {"attr":{"class":"form-control", "placeholder": "Tip title "} }) }}
            {{ form_errors(experience_form.title) }}

        </div>
    </div>
    <div class="form-group formGroup">
        {{ form_label(experience_form.category, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
        <div class="col-sm-9">
            {{ form_widget(experience_form.category, {"attr":{"class":"", "placeholder": "Tip category "} }) }}
            {{ form_errors(experience_form.category) }}

        </div>
    </div>
    <div class="form-group formGroup">
        {{ form_label(experience_form.content, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
        <div class="col-sm-9">
            {{ form_widget(experience_form.content, {"attr":{"class":"form-control animated", "placeholder": "Tip content"} }) }}
            {{ form_errors(experience_form.content) }}
        </div>
    </div>

    <button type="submit" class="btn btn-wide btn-primary exptip_edit_submit btn-save pull-right"
            data-back_url="{{ url("zgh_fe.experience.single_content", {"id": user.id, "exp_id": experience.id }) }}">
        Save
    </button>
    <a href="{{ url("zgh_fe.experience.single_content", {"id": user.id, "exp_id": experience.id }) }}"
       class="moveEditExpTip btn btn-primary btn-wide pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
    {{ form_rest(experience_form) }}
    {{ form_end(experience_form) }}
{% endblock innerPartial %}
