{% for thread in threads %}
    <div class="col-3 data-reacted thread" data-t_id="{{ thread.id }}">
        <div class="profile  sm-img-post">
            <a href="#" class="pull-left img-circle ">
                <img alt="" src="{{ asset(thread.messages[thread.messages|length - 1].sender.profilePhoto.getThumbWebPath()) }}"
                     class="media-object img-responsive">
            </a>
            <h4><a href="">{{ thread.messages[thread.messages|length - 1].sender.fullname }}</a></h4>
            <span class="date-time">{{ thread.messages[thread.messages|length - 1].createdAt|date() }}</span>
            {% if zgh_nb_thread_unread_message(thread) != 0 %}
                <button class="btn btn-danger btn-circle btnMessages msgNotifications pull-right"
                        type="button">
                    <span class="">{{ zgh_nb_thread_unread_message(thread) }}</span>
                </button>
            {% endif %}
            <div class="row btnMessages btnRemove" data-target="#deleteThread" data-toggle="modal" data-url="{{ url("fos_message_thread_delete", {"threadId": thread.id}) }}"><span
                        class="glyphicon glyphicon-remove pull-right "></span></div>

        </div>

    </div>

{% endfor %}
