{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/ajax_layout.html.twig':'@ZghFE/Default/user_index.html.twig' %}

{% block leftContent %}
    <div class="row">
        <div class="col-xs-12 search-Results">
            <a class="btn btn-primary btn-wide moveProduct" href="{{ url("zgh_fe.user_profile.products_partial", {"id": user.id}) }}">
                <span class="glyphicon glyphicon-arrow-left"></span> Cancel
            </a>

        </div>

    </div>
    <div class="exp_add">
        <div class="row">
            <h2>Add Product</h2>
        </div>
        {{ form_start(product_form, {"action": url("zgh_fe.products.new", {"id": app.user.id }), "attr" : {"id":"myform", "class": "form-horizontal"} }) }}

            <div class="form-group formGroup">
                {{ form_label(product_form.name, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
                <div class="col-sm-9">
                    {{ form_widget(product_form.name, {"attr":{"class":"form-control", "placeholder": "Product name "} }) }}
                    {{ form_errors(product_form.name) }}
                </div>
            </div>
            <div class="form-group formGroup">
                {{ form_label(product_form.description, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
                <div class="col-sm-9">
                    {{ form_widget(product_form.description, {"attr":{"class":"animated form-control", "placeholder": "Product description"} }) }}
                    {{ form_errors(product_form.description) }}
                </div>
            </div>
            <div class="form-group formGroup">
                {{ form_label(product_form.price, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
                <div class="col-sm-9">
                    {{ form_widget(product_form.price, {"attr":{"class":"form-control", "placeholder": "Product price"} }) }}
                    {{ form_errors(product_form.price) }}

                </div>
            </div>
            <div class="form-group formGroup">
                {{ form_label(product_form.image_file, 'Product Photo', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
                <div class="col-sm-9">
                  <div class="btnBrowsePhoto">
                    {{ form_widget(product_form.image_file, {"attr":{"class":"product_browse btnBrowseMine photo_btn"} }) }}
                    <button class="btnBrowseNew btn btn-primary btn-wide"><i class="icon-photography"></i> Browse</button>
                  </div>
                    
                    {{ form_errors(product_form.image_file) }}
                    <div class="photo_error"></div>
                    <div class="col-sm-4 col-md-4 dropzone-previews photo_preview clearfix row"></div>
                </div>
            </div>
            <div class="form-group formGroup">
                {{ form_label(product_form.tags, '', {"label_attr": {"class": "col-sm-3 control-label"} }) }}
                <div class="col-sm-9">
                    {{ form_widget(product_form.tags, {"attr":{"class":"tags_input"} }) }}
                    {{ form_errors(product_form.tags) }}

                </div>
            </div>

            <button type="submit" class="btn btn-wide pull-right margin-right btn-primary product_submit" data-back_url="{{ url("zgh_fe.user_profile.products_partial", {"id": user.id}) }}">save</button>
        {{ form_rest(product_form) }}
        {{ form_end(product_form) }}
    </div>
{% endblock %}
{% form_theme product_form with ['ThraceFormBundle:Form:fields.html.twig'] %}