{% extends app.request.xmlHttpRequest or is_popup == false ? '@ZghFE/Default/inner_ajax_layout.html.twig':'@ZghFE/Default/product_content.html.twig' %}

{% block innerPartial %}
    <div class="row headerProduct">
        <div class="row margin-bottom">
            {% if is_popup == false %}
                {% set products = user.products %}
                {% set next_id = nextId(products, product) %}
                {% set prev_id = prevId(products, product) %}

                {% if prev_id != null %}
                    <a href="{{ url("zgh_fe.products.content", {"id": user.id, "product_id": prev_id }) }}"
                       class="pull-left margin-left exp-Arrow"><span class="glyphicon glyphicon-chevron-left"></span>
                        Previous</a>
                {% endif %}
                {% if next_id != null %}
                    <a href="{{ url("zgh_fe.products.content", {"id": user.id, "product_id": next_id }) }}"
                       class="pull-right margin-right exp-Arrow">Next <span
                                class="glyphicon glyphicon-chevron-right"></span></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-3 pull-right icons-G">

            {% if app.user and "ROLE_CUSTOMER" in app.user.roles %}
                <button class="btn btn-danger btn-circle pull-right addWishlist" type="button"
                        data-target="#addwishlist"
                        data-toggle="modal">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div id="addwishlist" aria-hidden="true" aria-labelledby="myModalLabel"
                     role="dialog"
                     tabindex="-1"
                     class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modalHeader">
                                <button type="button" class="close modalClose" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Add to Wishlist</h4>
                            </div>
                            <div class="form_wrapper">
                                {{ include("@ZghFE/Partial/products/wishlist_edit_widget.html.twig", {"form" : addWishlistForm, "post_url": url("zgh_fe.products.add_to_wishlist", {"id": product.user.id, "product_id": product.id }) }) }}
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            {% endif %}

            {% if app.user %}
                <form class="btnForm pull-right"
                      action="{{ url("zgh_fe.like.post", {"id": product.id, "entity_type": product.getObjectType }) }}"
                      method="post">
                    <button type="submit" data-placement="top" data-toggle="tooltip"
                            title="{{ checkLike(app.user, product) ? "Unlike" : "Like" }}"
                            class="btn tooltip btn-danger likeBtn btn-circle {{ checkLike(app.user, product) ? "liked" : "" }}">
                        <span class="glyphicon glyphicon-heart"></span>
                    </button>
                    {#<button type="submit" data-placement="top" data-toggle="tooltip" title="{{ checkLike(app.user, post) ? "Unlike" : "Like" }}" class="btn tooltip btn-liked likeBtn btn-circle {{ checkLike(app.user, post) ? "liked" : "" }}">#}
                    {#<span class="glyphicon glyphicon-heart"></span>#}
                    {#</button>#}
                </form>
            {% endif %}

            {% if app.user and user.id == app.user.id %}
                <a class="moveEditProduct btnEditProduct pull-right"
                   href="{{ url("zgh_fe.products.get_edit", {"id": app.user.id, "product_id": product.id}) }}"><i
                            class="glyphicon glyphicon-edit"></i> Edit</a>
            {% endif %}

        </div>


        <p class="col-md-4">Category:
            <span>
              {{ product.category.name }}
            </span>
        </p>

        <div class="clearfix"></div>
    </div>
    <div class="row contentProduct">
        <p class="col-md-12">
            {{ product.description }}
        </p>
    </div>
    <div class="row">
        <span class="col-md-4 price ">Price:<span> {{ product.price }}$</span></span>
    </div>
    <div class="col-md-12">
        {{ include("@ZghFE/Partial/common/comments_section.html.twig", {"entity": product}) }}
    </div>
{% endblock innerPartial %}
