{% if products | length > 0 %}
    {% for product in products %}
        <div class="product-G col-md-3 col-xs-12 col-xxs-12 col-sm-6">
            <div class="thumbnail clearfix">

                <div class="textImageContainer photoThumb">
                    <div class="thumbOverlay img-responsive">
                        <div class="thumbOverlay">
                            <a rel="Product" data-toggle="tooltip" data-placement="top" title="Open"
                               data-fancybox-href="{{ url("zgh_fe.products.get_parent_content_widget", {"id": product.user.id, "product_id": product.id}) }}"
                               href="{{ url("zgh_fe.products.content", {"id": product.user.id, "product_id": product.id}) }}"
                               class="{{ app.user and product.user.id == app.user.id ? "openProduct tooltip" : "" }}  fancybox  fancybox.ajax"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>
                            {% if app.user and app.user.id == product.user.id %}
                                <a class="editProduct tooltip" target="_blank"  data-toggle="tooltip" data-placement="top" title="Edit"
                                   href="{{ url("zgh_fe.products.get_edit", {"id": app.user.id, "product_id": product.id}) }}"><span
                                            class="glyphicon glyphicon-edit"></span></a>
                            {% endif %}
                        </div>
                    </div>
                    <img class="img-responsive"
                         src="{{ product.getWebPath() ? asset(product.getWebPath()) : asset("bundles/zghfe/img/avatar_Product.jpg") }}">
                </div>

                <div class="productContent">
                    <a href="{{ url("zgh_fe.products.content", {"id": product.user.id, "product_id": product.id}) }}">
                        <h4>{{ product.name|length > 21 ? product.name|slice(0, 21) ~ "..." : product.name }}</h4></a>

                    <p>
                        <a href="{{ url("zgh_fe.user_profile.index", {"id": product.user.id}) }}">{{ product.user.fullname }}</a>
                    </p>
                    <h6>{% for tag in product.tags %}
                            {{ tag.name }}
                            {% if loop.index < product.tags|length %} - {% endif %}
                        {% endfor %}</h6>
                    <span class="date">{{ product.createdAt|date("d M Y - h:i A") }}</span>
                    {% if product.price %}
                        <span class="price">Price:<span> {{ product.price }} EGP</span></span>
                    {% endif %}

                    <p class="description">
                        {{ product.description|nl2br }}
                    </p>

                    <div class="voting">
                        <p>Decorama egypt</p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% else %}
    {% if search is defined and search == true %}
        <p>No results found.</p>
    {% elseif app.user and app.user.id == user.id %}
        <p>The best way to promote your business is to show your customers your products. Add some products now.</p>
    {% else %}
        <p>{{ user.fullname }} hasn’t added any products yet.</p>
    {% endif %}
{% endif %}