{% for product in products %}
    <div class="product-G col-md-3 col-xs-6  col-sm-6">
        <div class="thumbnail clearfix">

            <a data-fancybox-href="{{ url("zgh_fe.products.get_parent_content_widget", {"id": product.user.id, "product_id": product.id}) }}" href="{{ url("zgh_fe.products.content", {"id": product.user.id, "product_id": product.id}) }}" class="textImageContainer photoThumb fancybox  fancybox.ajax">
                <div class="thumbOverlay img-responsive">
                    <div class="thumbOverlay"><span class="glyphicon glyphicon-eye-open"></span></div>
                </div>
                <img class="img-responsive" src="{{ asset(product.getWebPath()) }}">
            </a>

            <div>
                <a href="#"><h4>{{ product.name }}</h4></a>
                <h6>Furniture & Home</h6>
                <span class="date">{{ product.createdAt|date() }}</span>
                <span class="price">Price:<span> {{ product.price }}$</span></span>

                <p class="description">
                    {{ product.description }}
                </p>

                <div class="voting">
                    <p>Decorama egypt</p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
            </div>
        </div>
    </div>

{% endfor %}