{{ form_start(form, {"action": post_url, "attr": {"class": "form-horizontal"}  }) }}
<div class="modal-body">
    <div class="form-group formGroup">
        {#<label class="col-sm-3 control-label">Select Wishlist</label>#}

        <div class="col-sm-9 test">
            {{ form_widget(form.wishlists, {"attr":{"class": "wishlistPopup"} }) }}
        </div>
    </div>

</div>
<div class="modal-footer">
    <a href="#" class="moveWishlist"
       data-url="{{ url("zgh_fe.products.get_wishlist_new", {"id": app.user.id, "product_id": product.id, "product_partial": true}) }}">Add
        to new wishlist</a>
    <button type="submit" class="btn btn-wide btn-primary addToWishlistSubmit">Save</button>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}