{% extends "@ZghFE/layout.html.twig" %}
{% block leftContent %}

    <div class="container">
        <div class="row">
            <div class="row search-Results">
                <div class="srh-Res-Heading col-md-4 pull-left">
                    <h1>{{ title }}</h1>
                </div>  <!----------------End  srh-Res-Heading -------------->


            </div> <!----------------End  Search Results -------------->
            <div class="allFriends">

                <div class="row">

                    {% for user in users %}
                        <div class="media profile effect col-sm-4">
                            <a class="pull-left {{ "ROLE_VENDOR" in user.roles ? "img-rounded" : (user.userInfo.gender == 0 ? "profile-pic-boy img-circle" : "profile-pic-girl img-circle") }}" href="{{ url("zgh_fe.user_profile.index", {"id": user.id}) }}">
                                <img class="media-object" src="{{ user.profilePhoto.getThumbWebPath ? asset(user.profilePhoto.getThumbWebPath) : ("ROLE_FACEBOOK" in user.roles ? 'https://graph.facebook.com/'~user.facebookId~'/picture?width=125&height=125' : asset("bundles/zghfe/img/init/init_pp.jpg") ) }}" alt="">
                            </a>

                            <h3><a href="{{ url("zgh_fe.user_profile.index", {"id": user.id}) }}"><span class="fullName">{{ user.fullname }}</span></a></h3>
                            {{ renderFollow(user, "ROLE_CUSTOMER" in user.roles ? (user.userInfo.gender == 0 ? "" : "btn-danger") : "") }}

                            <a class="{{ "ROLE_VENDOR" in user.roles ? "" : (user.userInfo.gender == 0 ? "boy" : "girl") }}" href="#"> <span class="glyphicon glyphicon-user "></span> <span class="followerStats">{{ getApprovedFollowings(user)|length }}</span></a>
                        </div>
                    {% endfor %}







                </div><!--End Div Row-->
            </div><!--End All Friends-->

        </div>

    </div>  <!---------------- end of container ------------ -->


{% endblock leftContent %}
