{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/inner_ajax_layout.html.twig':'@ZghFE/Default/tip_content.html.twig' %}

{% block innerPartial %}
<div class="row headerProduct">
    <div class="col-md-2 pull-right icons-G">
        <form class="pull-right" action="{{ url("zgh_fe.like.post", {"id": tip.id, "entity_type": tip.getObjectType }) }}" method="post">
            <button type="submit" class="btn btn-danger doLike likeBtn btn-circle {{ checkLike(app.user, tip) ? "glyphicon-heart-empty" : "" }}">
                <span class="glyphicon glyphicon-heart"></span>
            </button>
        </form>
        <a class="moveEditExpTip btnEditTip pull-right" href="{{ url("zgh_fe.tips.get_edit", {"id": tip.user.id, "tip_id": tip.id}) }}"><i class="glyphicon glyphicon-edit"></i>Edit</a>
    </div>
    <h2 class="col-md-12">{{ tip.title }}</h2>
    <div class="clearfix"></div>
    <p class="by col-md-12">Categories:
        {% for category in tip.categories %}
            <span>{{ category.name }}</span>
            {% if loop.index < tip.categories|length %}
                <span>-</span>
            {% endif %}
        {% endfor %}
    </p>
    <span class="col-md-12 date-time">{{ tip.createdAt|date() }}</span>
    <p class="by col-md-12">By: <a href="{{ url("zgh_fe.user_profile.index", {"id": tip.user.id}) }}"><span>{{ tip.user.getFullname }}</span></a></p>

</div>
<div class="row">
    <p class="col-md-12">
        {{ tip.content|nl2br|converturls }}
    </p>

</div>


{{ include("@ZghFE/Partial/common/comments_section.html.twig", { 'entity': tip }) }}
{% endblock innerPartial %}