{% for tip in tips %}
    <div class="col-md-4 col-xs-6 tip">

        <div class="thumbnail">

            {% if tip.user.id == app.user.id %}
                <button data-target="#deleteTip_{{ tip.id }}" data-toggle="modal" class="row btn delete-post pull-right"><span class="glyphicon glyphicon-remove pull-right"></span></button>
                <div id="deleteTip_{{ tip.id }}" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modalHeader">
                                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete Post</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-wide modalClose btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <form class="btnForm" action="{{ url("zgh_fe.tip.delete", {"id": tip.user.id, "tip_id": tip.id}) }}" method="post">
                                    <button type="submit" class="btn btn-wide btn-primary">Delete</button>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            {% endif %}

            <a href="{{ url("zgh_fe.tip.content", {"id": user.id, "tip_id": tip.id }) }}" target="_blank"><img alt="Responsive image"
                                                                                               class="img-responsive"
                                                                                               src="{{ tip.getThumbWebPath ? asset(tip.getThumbWebPath) : asset("bundles/zghfe/img/avatar_wide.jpg") }}"></a>

            <div class="caption">
                <h4>{{ tip.title }}</h4>

                <p>{{ tip.content }}</p>
            </div>
        </div>
    </div>
{% endfor %}