<div class="modal-body">
    <div class="form-group formGroup">
        <label class="col-sm-3 control-label">
            {{ form_label(form.address, null, {"attr": {"class": "col-sm-3 control-label"} }) }}
        </label>

        <div class="col-sm-9">
            {{ form_widget(form.address, {"attr": {"class": "form-control", "placeholder": "Branch address" } }) }}
            {{ form_errors(form.address) }}
        </div>
    </div>

    <div class="form-group formGroup">
        <label class="col-sm-3 control-label">
            {{ form_label(form.phone, null, {"attr": {"class": "col-sm-3 control-label"} }) }}
        </label>

        <div class="col-sm-9">
            {{ form_widget(form.phone, {"attr": {"class": "form-control", "placeholder": "Phone" } }) }}
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="form-group formGroup">
        <label class="col-sm-3 control-label">
            {{ form_label(form.mobile, null, {"attr": {"class": "col-sm-3 control-label"} }) }}
        </label>

        <div class="col-sm-9">
            {{ form_widget(form.mobile, {"attr": {"class": "form-control", "placeholder": "Mobile" } }) }}
            {{ form_errors(form.mobile) }}
        </div>
    </div>

    <div class="form-group formGroup">
        <label class="col-sm-3 control-label">
            {{ form_label(form.email, null, {"attr": {"class": "col-sm-3 control-label"} }) }}
        </label>

        <div class="col-sm-9">
            {{ form_widget(form.email, {"attr": {"class": "form-control", "placeholder": "Email" } }) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-wide btn-primary branchSubmit">Create</button>
</div>

