{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Messages | Zaghruta{% endblock title %}

{% block body %}
    <div id="wrap">
        {{ parent() }}

        {% block content %}
            <div class="container">

                {% block leftContent %}
                    {% block fos_message_content %}{% endblock %}
                {% endblock leftContent %}

                {% block rightContent %}
                {% endblock rightContent %}
            </div>
        {% endblock content %}
    </div>
    {% block footer %}
        <footer>
            <div class="container">
                <p class="pull-right"><a href="#">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </a></p>
                <a  class="pull-right contactUS"  data-toggle="modal" href="#ContactUS">Contact Us</a>
                <a  class="pull-right contactUS" href="{{ url("zgh_fe.user_profile.index", {"id": 1}) }}">About</a>
                <div  id="ContactUS" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                      class="modal fade in modalContactUS">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modalHeader">
                                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
                            </div>
                            <div class="modal-body">
                                <p class="">For inquiries, contact us at:</p>
                                <a target="_top" class="contactmail" href="mailto:info@zaghruta.com">info@zaghruta.com</a>
                                <p class="margin-top">For support or feedback, contact us at:</p>
                                <a target="_top" class="contactmail" href="mailto:info@zaghruta.com">support@zaghruta.com</a>



                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
                <div style="margin: 5px 10px 10px;">
                    <p>Zaghruta &copy; {{ "now"|date("Y") }}</p>
                </div>
            </div>
        </footer>
    {% endblock footer %}
    {% block modals %}
    {% endblock modals %}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var UrlContainer = {
            loader: "{{ asset("bundles/zghfe/img/page-preloader.GIF") }}"
        };
    </script>
    {% javascripts
    "bundles/zghfe/js/autosize.js"
    "bundles/zghfe/js/jquery.mCustomScrollbar.min.js"
    "bundles/zghfe/plugins/select2-3.4.6/select2.js"
    "bundles/thraceform/js/select2.js"
    "bundles/zghmsg/js/messages.js"
    "bundles/zghfe/js/pages_logic/search.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        (function ($) {
            $(window).load(function () {
                $("body").find("#scrol").mCustomScrollbar({
                    scrollButtons: {
                        enable: true
                    },
                    theme: "dark",
                    set_height: 500
                });

            });

            $("body").find(".animated").autosize();
        })(jQuery);

    </script>

{% endblock javascripts %}