{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    {% autoescape false %}
    <title>{% block subject %}Zaghruta - {{ notification_title }}{% endblock subject %}</title>
    {% endautoescape %}


    <style>
        .container, .header {
            width: 450px;
            margin: 0 auto;
            padding: 0 10px 10px;
        }

        .content-one {
            padding-top: 30px !important;
        }
        a{
            font-family: arial;
        }
    </style>
</head>

<body>
{% block body_text %}{% endblock body_text %}
{% block body_html %}
    <center>
        <table width="550" style="border:1px solid #ccc; padding-top:20px;" >
            <tbody>
                <tr>
                    <td>
                         <table width="450" cellspacing="0" cellpadding="0" border="0" class="header">
            <tbody>
            <tr>
                <td valign="top" align="center">
                    <a href="http://www.zaghruta.com" alt="Zaghruta"><img src="http://zaghruta.com/beta/zaghruta/web/email_icon/logo.png"/></a>
                </td>
            </tr>
            </tbody>
        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                         <table width="450" cellspacing="0" cellpadding="0" border="0" class="content-one container">
            <tbody>
            <tr>
                <td style="font-size:18px; color:#61c5b6; font-family:Arial, Helvetica, sans-serif; padding-bottom:10px;"
                    align="left">Hi {{ user.fullname }},
                </td>
            </tr>
            {% autoescape false %}
            <tr>
                <td colspan="2" style=" font-size:14px; color:#6e6e6e; font-family:Arial, Helvetica, sans-serif; padding-bottom: 30px;"
                    align="left">
                    {{ notification_body }}
                </td>
            </tr>
                <tr style="height: 59px; margin-bottom">
                    <td style="width:50%;" align="right"><a style="margin-right:10px; background:#61c5b6; width:357px; height:30px; border-radius:10px; color:#fff; padding:20px 30px; text-decoration:none" href="{{ accept_url }}">Accept</a></td>
                    <td style="width:50%"  align="left"><a style="background:#61c5b6; width:357px; height:30px; border-radius:10px; color:#fff; padding:20px 30px; margin-right: 80px; text-decoration:none" href="{{ deny_url }}">Deny</a></td>
                </tr>
            {% endautoescape %}
            <tr>
                <td style="color:#6e6e6e; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-top:20px; font-style:italic; display: block; margin-top: 10px;" align="left">
                    If you need help, contact us at <a href="mailto:feedback@zaghruta.com">feedback@zaghruta.com</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding-top:20px; padding-bottom:20px;">
                    <a href="https://www.facebook.com/zaghruta"><img src="http://zaghruta.com/beta/zaghruta/web/email_icon/icon-facebook.png"/></a>
                </td>
            </tr>
            </tbody>
        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
{% endblock body_html %}
</body>
</html>
